<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{site.title}"></title>
<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-2">
				<div th:replace="temp/menu.html :: menu"></div>
			</div>
			<div class="col-10">
				<!-- 		$ ile yazdığım herşey modelandview dan gelen değişkenlerdir  -->
				<label th:if="${hello != null}" th:text="${hello}"></label>
				<label sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}"></label>
				<p th:text="${welcomemessage}"></p>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/bootstrap.bundle.js"></script>
</html>